div {
  max-width: 1280px;
  margin: 0 5rem;
  padding: 2rem;
  text-align: center;
}

.addListButton {
  margin-left: 16px;
}

.todoLists {
  border: solid 1px #ccc;
  padding: 16px;
  margin: 8px;
}

.todoWrapper {
  display: flex;
  align-items: center;
}